.fullbody {
    background: url(../../Images/homebg.jpg) no-repeat center center fixed;
    background-size: cover;  /* Ensures image covers the entire background */
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensures the element takes the full height of the viewport */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .fullbody {
        background-attachment: scroll; /* Prevents the background from being fixed on mobile for better performance */
    }
}

.body{
    height:725px;
}
.sideheading{
    padding-top: 8rem;
    padding-left: 3rem;
}
.sideheading button{
    padding: 7px 35px 7px 35px;
    font-size: x-large;
    border: 1px solid ;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-top: 2rem;
    background-color: white;
    color: black;
}